body{
  background:#101c2c ;
  color: rgb(255, 255, 255);
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}


@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
